@media (max-device-width:767px) {

    div.container-fluid {
        margin: 0px;
    }

    section.container-fluid {
        margin: 120px 0px 0px 0px;
    }

    nav#scrollEffectNavbar {
        padding: 25px;
    }

    a.navbar-brand {
        margin-right: 0px;
    }

    li.nav-item.resp-btn {
        padding: 10px 0 0 0px;
    }

    section.container {
        margin-top: 120px;
    }

    ul.navbar-nav {
        margin-left: 0;
    }

    button.btn-secondary {
        display: block;
        width: 100%;
    }

}