@font-face {
    font-family: 'RobotoMono-Regular';
    src: url("../fonts/RobotoMono-Regular.ttf");
}

body {
    background-color: #F7F7F2;
    font-family: 'RobotoMono-Regular';
}

.scrollEffectNavbar {
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */

}

.banner.hide {
    transition: transform 0.5s;
    transform: translateY(-150px);
}

.container-fluid {
    margin: 0 280px 0 280px;
}

nav#scrollEffectNavbar {
    padding: 70px 0 20px 0;
    background-color: #DFDEDA;
}

li.nav-item a {
    margin-right: 50px;
}

a.navbar-brand {
    margin-right: 50px;
}

section.container {
    margin-top: 180px;
    color: #212529;
}

h1 {
    margin-bottom: 40px;
}

div.card-body.description {
    height: 410px;
}

img.card-img-top {
    max-height: 261px;
    min-height: 261px;
}

div.card-body {
    background-color: #DFDEDA;
}

ul.navbar-nav {
    margin-left: 40px;
}